In [9]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

# Fetch the HTML content
html = requests.get('https://www.yallakora.com/match-center/%D9%85%D8%B1%D9%83%D8%B2-%D8%A7%D9%84%D9%85%D8%A8%D8%A7%D8%B1%D9%8A%D8%A7%D8%AA#').text

# Parse the HTML content using BeautifulSoup
soup = bs(html, 'lxml')

# Extract data
teams_a = [team.get_text(strip=True) for team in soup.find_all('div', class_='teams teamA')]
teams_b = [team.get_text(strip=True) for team in soup.find_all('div', class_='teams teamB')]
times = [time.get_text(strip=True) for time in soup.find_all('span', class_='time')]

# Create a DataFrame from the extracted data
df = pd.DataFrame({
    'team_a': teams_a,
    'time': times,
    'team_b': teams_b
})

In [12]:
df.to_excel('matchs.xlsx')

In [10]:
df

     team_a   time           team_b
0    المصري  17:30  المقاولون العرب
1  الداخلية  21:00          الزمالك
2      إنبي  21:00               زد